extends ../_include/_layout
block vars
	- var _title_str = 'ABOUT | LP Site Template'; // title
	- var _desc_str = 'LPサイトの参考テンプレート。npm scriptでpug,sassでコーディングしています。参考程度にご利用ください。作者:KidoYuta'; // descriptions
	- var _keys_str = 'template, lp'; // keywords

block link
	//- link(rel='stylesheet', href"")
block body
	.container.ulPage
		.visual(data-type="about")
		.detail
			section.section
				.inner
					h2.head ABOUT US
					.content
						p
							| このWebサイトは、
							br
							| 3BNのKidoYutaによる
							br
							| Webサイトデザインのサンプルの一つです。
						p
							| こんなデザインのWebサイトを作ってほしい！
							br
							| という方は、是非ご連絡ください。


			section.section
				.inner
					h2.head PROFILE
					.content
						dl
							dt 屋号
							dd 3BN (スリービーエヌ)
						dl
							dt 代表者
							dd キドユウタ
						dl
							dt 事業内容
							dd デザイン・マークアップなどフロントエンドのWeb開発および映像や画像などデジタルクリエイティブ制作など
						dl
							dt 連絡先
							dd i[at]sutobu000.com


block script
	//- ページ固有のjs
	//- script(src=DIR_JS +"index.js")
